---
import {getCollection} from "astro:content";

interface Props {
  ref: string
}

const {ref} = Astro.props;

const addresses = await getCollection('addresses', (addressEntry)=>{
  return addressEntry && addressEntry.slug === ref;
});

const address = addresses[0]
---
 <a href={address?.data.url}>
  {address?.data.title}
 </a>